/* Setter bakgrunnen på siden og fyller hele skjermen */
body {
    position: absolute;
    background: #333;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

main {
    position: absolute;
    background: url(../images/background/bg-6.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero {
    width: 800px;
    height: 550px;
    right: -12%;
    top: 40%;
    position: absolute;
    animation: wobble infinite ease-in-out 5s alternate;
}

.mermaid-in-water {
    background: url(../images/characters/others/mermaid-sad.png) no-repeat;
    background-size: contain;
    width: 400px;
    height: 400px;
    right: 40%;
    top: 40%;
}

.bag-ocean {
    top: 75%;
    left: 10%;
}

.bottle-ocean {
    top: 80%;
    left: 30%;
}

/* CSS-regler for å vise neste snakkeboble og samtidig skjule den gjeldene snakkeboblen */

.speech {
    left: 70%;
    top: 25%;
    display: none;
}

#chat1 {
    display: block;
    opacity: 0;
    animation: chat-appear 1s ease-in 1s forwards;
}

/* Når man trykker på label for checkbox n skjules snakkeboble n */
#checkbox1:checked + #chat1 {
    display: none;
}

/* Når man trykker videre fra snakkeboble a, vises snakkeboble b */
#checkbox1:checked ~ #chat2 {
    display: block;
}

#checkbox2:checked + #chat2 {
    display: none;
}

#checkbox2:checked ~ #chat3 {
    display: block;
}

#checkbox3:checked + #chat3 {
    display: none;
}

#checkbox3:checked ~ #chat4 {
    display: block;
}

#checkbox4:checked + #chat4 {
    display: none;
}

/* Animasjoner */

/* Elementer i vannet vingler litt frem og tilbake */
@keyframes wobble {
    0% { transform:  rotate(2deg); }
    100% { transform: rotate(-2deg); }
}

/* Første snakkeboble animeres inn */
@keyframes chat-appear {
    0% { transform: translate(-80%, 20%) scale(.5, .5); opacity: 0; }
    100% { transform: translate(-50%, -50%) scale(1, 1); opacity: 1; }
}